<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAm82hi-htFbfzT56xaNsI-JqXR8ptWZ4c</string>
	<key>GCM_SENDER_ID</key>
	<string>944161837976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.propsync.inc.tarrot</string>
	<key>PROJECT_ID</key>
	<string>taroot-app</string>
	<key>STORAGE_BUCKET</key>
	<string>taroot-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944161837976:ios:28fdd97be932d49b6e51ed</string>
	<key>DATABASE_URL</key>
	<string>https://taroot-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>